{% load static %}

<!--<h2>Diva Pant</h2>

<img src="{% static 'images/Diva.jpg' %}">
-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Diva Pant</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
	<div class="jumbotron jumbotron-fluid">
  		<div class="container">
    		<h1 class="display-4" id="profile-wrapper">The Family Project</h1>
    		<p class="lead">
				<ul class="d-flex justify-content-center social-links">			
					<li><a href="https://www.linkedin.com/in/diva-pant/" class="fa fa-linkedin"></a></li>
					<li><a href="https://twitter.com/PantDiva" class="fa fa-twitter"></a></li>
					<li><a href="https://github.com/Diva-Pant/Full-Stack-Development" class="fa fa-github"></a></li>
				</ul>
    		</p>
  		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card card-body h-100" id="profile-wrapper">
					<img class= "card-img-top" src="{% static 'images/Diva.jpg' %}">
					<br>
					<h4>Hi, I am Diva!</h4>
				</div>
				
			</div>
			<div class="col-md-8">
				<div class="card card-body h-100" id="profile-wrapper">
					<img class= "card-img-top" src="{% static 'images/dadmum.jpg' %}">
					<br>
					<h4>They are my amazing parents!</h4>
				</div>				
			</div>		
		</div>
		<br>	
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100" id="profile-wrapper">
					<img class= "card-img-top" src="{% static 'images/papa.jpg' %}">
					<br>
					<h4>My wonderful father!</h4>
				</div>
				
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100" id="profile-wrapper">
					<img class= "card-img-top" src="{% static 'images/mum.jpg' %}">
					<br>
					<h4>My beautiful mother!</h4>
				</div>
				
			</div>		
		</div>
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="card card-body h-100" id="profile-wrapper">
					<img class= "card-img-top" src="{% static 'images/bhawesh.jpg' %}">
					<br>
					<h4>My fantabulous brother!</h4>
				</div>
				
			</div>
			<div class="col-md-4">
				<div class="card card-body h-100" id="profile-wrapper">
					<img class= "card-img-top" src="{% static 'images/mycake.jpg' %}">
					<br>
					<h4>Cake!</h4>
				</div>
				
			</div>		
		</div>
		<br>		
				
	</div>

</body>
</html>